alias realias='$EDITOR ~/.aliases; source ~/.aliases'

alias jobs='jobs -l'
alias up='cd ..'
alias ls='ls --color=auto'
alias ll='ls -la'
alias rm='rm -i'
alias his='history'
alias hgrep='history | grep'
alias vi='vim'
alias vimd='vim .'
alias py='python'
alias sbcl='rlwrap sbcl --noinform'
alias R='R --quiet'
alias juno='jupyter-notebook'
alias junonb='jupyter-notebook --no-browser'
alias repl='sbcl --load ~/replserver.lisp --non-interactive'
alias dock='docker'
alias dcomp='docker-compose'
alias dockstop='docker stop $(docker ps -q)'
alias reperl='perl -de0'
alias t='tmux'

alias sshnp='ssh -i ~/ec2aidjkk.pem $EC2'
alias scpnp='scp -i ~/ec2aidjkk.pem'
alias startnp='source ~/ec2script/start_ec2.sh'
alias stopnp='source ~/ec2script/stop_ec2.sh'
alias statusnp='node ~/ec2script/status_ec2.js'

alias sshgpu='ssh aidjkk@noteGPU.local'
