alias realias='$EDITOR ~/.aliases; source ~/.aliases'

alias service='sudo systemctl'
alias jobs='jobs -l'
alias up='cd ..'
alias ls='ls -G'
alias ll='ls -laG'
alias rm='rm -i'
alias his='history'
alias hgrep='history | grep'
alias vi='vim'
alias vimd='vim .'
alias vimrc='vim ~/.vimrc'
alias py='python'
alias sbcl='rlwrap sbcl --noinform'
alias R='R --quiet'
alias juno='jupyter-notebook'
alias tensorboard='python -m tensorboard.main'
alias repl='sbcl --load ~/replserver.lisp --non-interactive'
alias kakeibo='cd ~/study/lisp; sbcl --load kakeibo.lisp --non-interactive'
alias dock='docker'
alias dcomp='docker-compose'
alias laradock='docker-compose up -d nginx mysql'
alias dockstop='docker stop $(docker ps -q)'
alias pymanage='python manage.py'
alias reperl='perl -de0'
alias t='tmux'
