alias realias='$EDITOR ~/.aliases; source ~/.aliases'

alias jobs='jobs -l'
alias up='cd ..'
alias ls='ls -G --color'
alias ll='ls -laG --color'
alias rm='rm -i'
alias his='history'
alias hgrep='history | grep'
alias vi='vim'
alias vimd='vim .'
alias py='python3'
alias sbcl='rlwrap sbcl --noinform'
alias repl='sbcl --load ~/replserver.lisp --non-interactive'
alias juno='jupyter-notebook --no-browser'
alias dock='docker'
alias dcomp='docker-compose'
alias t='tmux'

alias jdbserver='java -agentlib:jdwp=transport=dt_socket,address=8080,server=y'
alias jdbcli='jdb -attach 8080'

alias colors='for c in {000..255}; do echo -n "\e[38;5;${c}m $c" ; [ $(($c%16)) -eq 15 ] && echo;done;echo'

alias sshgpu='ssh aidjkk@noteGPU.local'

alias venv='source ./venv/bin/activate'
